#own project folders
binary
build
gbuild
xcode

#binaries
./spacefortress
./sf

#os specific
.DS_Store
.ccls*
.vscode

#game logs
log.txt

#cmake
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
compile_commands.json
